aiohttp==3.8.4
aiosignal==1.3.1
asciimatics==1.14.0
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
frozenlist==1.3.3
future==0.18.3
idna==3.4
multidict==6.0.4
numpy==2.0.2
openai==0.27.8
ordered-set==4.1.0
Pillow==9.5.0
platformdirs==3.8.0
pyfiglet==0.8.post1
pywin32==306
requests==2.31.0
toml==0.10.2
tqdm==4.65.0
urllib3==2.0.3
wcwidth==0.2.6
yarl==1.9.2
